<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
</head>
<body>
    <h1>Detalle</h1>

    <div>
        <h1> <%= product?.name  %>  </h1>
        <p>Point: <%= product?.point  %></p>
    </div>

</body>
</html>